.dots {
  display: inline-block;
  margin-left: 4px;
  font-weight: bold;
  animation: blinkDots 1s steps(3, end) infinite;
}

@keyframes blinkDots {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}