@keyframes flujo {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.barra-flujo {
    width: 66px;
    height: 100%;
    background: linear-gradient(90deg, #8b0000, #ff1a1a, #ff4c4c);
    background-size: 200%;
    background-position: 0% 50%;
    animation: flujo 1.4s linear infinite;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.6);
}

@keyframes fadeInBg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}